.rmu-mrf-legend-container {
    position: absolute;
    width: 16rem;
    top: 15px;
    margin-right: 15px;
    background-color: var(--filroden-color-bg-darkest);
    color: var(--filroden-color-text-main);
    border: var(--filroden-border-main);
    border-radius: var(--filroden-radius-medium);
    padding: var(--filroden-space-m) var(--filroden-space-l);
    box-shadow: var(--filroden-shadow-window);
    z-index: 100;
    font-family: var(--filroden-font-family);
    pointer-events: none;
    white-space: nowrap;
}

.rmu-mrf-legend-header {
    margin: 0 0 var(--filroden-space-m) 0;
    border-bottom: var(--filroden-border-main);
    padding-bottom: var(--filroden-space-s);
    font-size: var(--filroden-font-size-m);
    color: var(--filroden-color-text-accent);
    text-align: center;
    letter-spacing: var(--filroden-letter-spacing-wide);
}

.rmu-mrf-legend-hints {
    margin-bottom: var(--filroden-space-m);
    font-size: var(--filroden-font-size-s);
    color: var(--filroden-color-text-muted);
    border-bottom: var(--filroden-border-main);
    padding-bottom: var(--filroden-space-m);
}

.rmu-mrf-hint-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--filroden-space-m);
    margin: var(--filroden-space-m) 0;
}

.rmu-mrf-hint-keys {
    flex: 0 0 auto;
    text-align: right;
    color: var(--filroden-color-text-muted); /* Blends the '+' symbol slightly */
}

.rmu-mrf-legend-hints kbd {
    background-color: var(--filroden-color-bg-medium-solid);
    border: var(--filroden-border-main);
    border-radius: var(--filroden-radius-small);
    padding: var(--filroden-space-xxs) var(--filroden-space-xs);
    font-family: monospace;
    font-size: var(--filroden-font-size-xs);
    color: var(--filroden-color-text-main-solid);
}

.rmu-mrf-legend-paces {
    display: flex;
    flex-direction: column;
    gap: var(--filroden-space-s);
    padding-bottom: var(--filroden-space-m);
}

.rmu-mrf-legend-paces.rmu-mrf-legend-section {
    border-bottom: var(--filroden-border-main);
    margin-bottom: var(--filroden-space-m);
}

.rmu-mrf-legend-row {
    display: flex;
    align-items: center;
    gap: var(--filroden-space-m);
    font-size: var(--filroden-font-size-s);
}

.rmu-mrf-legend-swatch {
    width: var(--filroden-space-l); 
    height: var(--filroden-space-l);
    border: var(--filroden-border-dark);
    border-radius: var(--filroden-radius-small);
}